@{
    ViewBag.Title = "Home Page";
}

<main>
    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">DotNET CI/CD Demo</h2>
            <p>
                Hi there!
            </p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </section>
        
    </div>
</main>
